* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#newTask,
input[type='submit'],
li,
form,
ul,
button {
  border-radius: 5px;
}

header {
  padding: 2.5em;
  background-color: #292929;
  color: #fff;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

main {
  width: 75%;
  padding: 1em;
}

h1 {
  text-transform: uppercase;
  letter-spacing: .2em;
}

h2 {
  margin-bottom: 10px;
}

/* new task form */
#newTaskForm {
  border: 1px solid #292929;
  margin-bottom: 10px;
  padding: 1em .5em;
  background-color: #f3f3f3;
  display: none;
}

.form-group {
  margin-bottom: .5em;
}

#newTask {
  width: 50%;
  padding: 10px;
}

input {
  border: 1px solid #292929;
}

input[type='submit'] {
  padding: 5px 10px;
  background-color: #292929;
  color: #fff;
}

input[type='submit']:hover {
  background-color: #000;
}

input[type='submit']:disabled {
  opacity: 50%;
}

input[type='submit']:disabled:hover {
  background-color: #292929;
}

label {
  margin-right: 10px;
}

span.priority-level {
  margin-left: 5px;
}

/* new task form end */

/* list of tasks */
ul {
  list-style: none;
}

li {
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 1em .5em;
}

li.low-priority {
  background-color: #2a525d;
}

li.medium-priority {
  background-color: #537378;
}

li.high-priority {
  background-color: #f96a6a;
}

li.completed {
  opacity: 25%;
}

span.task-text {
  flex: 1;
}

button {
  padding: 5px 10px;
  border: 1px solid #292929;
  background-color: #f3f3f3;
}

.button-margin-left {
  margin-left: 5px;
}

button:hover {
  background-color: #e6e6e6;
}

#showHideButton {
  margin-bottom: 10px;
}

/* list of tasks end */

/* mobile styles */

@media screen and (max-width: 750px) {
  main {
    width: 100%
  }
  /* new task input box */
  #newTask {
    width: 100%;
  }
  li {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  span.task-text {
    margin-bottom: 5px;
  }  
}